*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 1903.4999px;
}
a{text-decoration: none;}
header>p a:hover{
    font-weight: 700;
}
header{
    width: 100%;
    height: 200px;
    background-color: #0099ff;
    background-image: url(../img/back_img_C.gif);
}
header>p{
    float: right;
    margin-right: 425px;
    margin-top: 10px;
}
header>p>a{color: #000000;}
header>img{
    margin-left: 375px;
    margin-top: 25px;
}
header>.search{
    width: 800px;
    height: 40px;
    float: right;
    margin-right: 450px;
    margin-top: -100px;
}
header>.search>input{
    width: 85%;
    height: 100%;
    border: 2px #0066ff solid;
    border-radius: 15px;
    padding-left: 10px
}
header>.search>button{
    width: 70px;;
    height: 100%;
    background-color: #0066ff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 15px;
    border: 2px #0066ff solid;
}
header>.search>button:hover{
    border: 2px #0066ff solid;
    background-color: #ffffff;
    color: #0066ff;
    cursor: pointer;
}



.wrap2{
    width: 1080px;
    height: 1200px;
    margin: 0 auto;
}


.side{
    width: 20%;
    height: 100%;
    float: left;
    display: inline-block;
}
h2{
    margin-top: 12.5px;
    padding: 5px 0;
    text-align: center;
    background-color: #0099ff;
    color: #ffffff;
    border-radius: 15px;
}
.side>.mainside{margin: 12.5px 0px 0px 20.5px;}
.side>.mainside hr{
    border: 0.5px dashed #666666;
    margin-left: -20px;
    margin-top: 1.35px;
    margin-bottom: 1.35px;
}
.side>.mainside>li{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: "한컴 윤체 L";
}
.side>.mainside>li>.subside{margin: 10px 0px 10px 10px;}
.side>.mainside>li>.subside>li{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5px;
    font-family: "맑은 고딕";
    list-style: none;
}
.side>.mainside>li>.subside>li:hover{
    color: #0099ff;
    font-weight: 700;
    cursor: pointer;
}


.product{
    width: 80%;
    height: 100%;
    float: right;
    display: inline-block;
}
.product>.ad{
    width: 100%;
    height: 35%;
    float: left;
    display: inline-block;
}
.product>.ad>.slide{
    margin: 20px 20px 0px 20px;
    width: 834px;
    height: 390px;
    position: relative;
    overflow: hidden;
}
.product>.ad>.slide img{
    margin: 0px;
    padding: 0px;
    position: absolute;
    float: left;
}
.product>.ad>.slide img:first-child{
    left: 0;
}





.product>.seller{
    width: 100%;
    height: 65%;
    float: left;
    display: inline-block;
}
.product>.seller>h2{
    margin: 12.5px 325px 0px 325px;
    text-align: center;
}
.product>.seller>.list{
    margin-top: 10px;
    width: 100%;
}
.product>.seller>.list td{
    text-align: center;
    cursor: pointer;
}
.product>.seller>.list .cost td{
    color: #0000ff;
    font-weight: 700;
    font-family: "굴림";
}
.product>.seller>.list .photo img{
    width: 125px;
    height: 125px;
}




footer{
    width: 100%;
    height: 150px;
    display: inline-block;
}
footer hr{
    margin-bottom: 20px;
}
footer p{
    color: #666666;
    padding-left: 50px;
    font-size: 12px;
}